@import '../styles/variables/colors';

.tiles {
  background: linear-gradient(90deg, $red3 0%, $yellow3 103.01%);
  margin: 8px;
}

.tilesDetails {
  background-color: $white;
  color: $black;
  padding: 16px;
}

.tilesDetails ul {
  padding: 0;
}

.tilesDetails ul li {
  margin-left: 40px;
}
