@use '../../styles/variables/colors' as *;
@import '../../styles/mixins';

:global .MuiAccordion-root {
  background: linear-gradient(90.05deg, $red2 -3.72%, $yellow2 120.3%);
  margin: 0% 10% 5% 10% !important;

  @include smBreakPoint {
    margin: 0% 10% 2% 10% !important;
  }
}

:global .MuiAccordionSummary-root {
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 5px;

  @include mdBreakPoint {
    height: 60px;
  }
}

:global .MuiAccordion-gutters,
:global .MuiAccordionSummary-expandIconWrapper {
  color: $white;
}

.container {
  padding-bottom: 50px;
}
