$red1: #f14046;
$red2: #fe3f46;
$red3: #fd4941;
$red4: #d32f2f;
$red5: #f04045;
$red6: #800;
$yellow: #eeb51a;
$yellow2: #fcb714;
$yellow3: #fc9123;
$yellow4: #ff9900;
$black: #000;
$black2: #101010;
$partialblack: rgba(0, 0, 0, 0.1);
$partialblack2: rgba(0, 0, 0, 0.25);
$partialblack3: rgba(0, 0, 0, 0.65);
$white: #fff;
$white2: #ebebeb;
$white3: #fcf9f5;
$partialwhite: rgba(255, 255, 255, 0.6);
$partialwhite2: rgba(255, 255, 255, 0.75);
$partialwhite3: rgba(255, 255, 255, 0.5);
$partialwhite4: rgba(255, 255, 255, 0.94);
$grey: #999999;
$grey2: #5b5b5b;
$grey3: #536162;
$grey4: #424642;
$blue: #1e78ff;
$orange: #f57b51;
