@import '../../styles/variables/colors';
@import '../../styles/mixins';

.box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;

  .join_us_text_container {
    height: 50px;
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 15px;
    line-height: 60px;

    @include xsBreakPoint {
      font-size: 25px;
    }

    @include lgBreakPoint {
      font-size: 35px;
    }

    .join_us,
    .find_match {
      color: $red1;
    }

    .get_married {
      color: $yellow;
    }
  }
}
