@import '../../styles/variables/colors';

.container-box {
  width: 100%;

  .forgot-password-form {
    padding: 10px;

    .email {
      width: 100%;
    }

    .btn-section {
      margin-top: 25px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
