@import '../../styles/variables/colors';

.subtitle {
  color: $red1;
  font-size: 18px;
  margin-bottom: 5%;
}

.box {
  width: 300px;
  height: 235px;
  border-radius: 10px;
  color: $white;
  text-align: center;
  padding: 40px;
}
.name {
  color: #1976d2;
}
.box1 {
  background-color: $red1;
}

.box2 {
  background-color: $yellow2;
}

.count {
  font-size: 64px;
  line-height: 96px;
}

.title {
  font-size: 32px;
  line-height: 48px;
}

.chartContainer {
  background: $white2;
  border: 1px solid $grey2;
  border-radius: 10px;
  width: 100%;
  padding: 45px;
}
.chart {
  width: 392px;
  height: 392px;
  margin: 0 auto;
}

.profileContainer {
  margin-top: 30px;
}

.button {
  color: $red1;
}
